

.card img{
	max-width: 100%;
	height:auto;
}


       body{
       	background-color: #001f3f;
       }
 /*   body{
        background: url(11.jpg);
        background-size: cover;
        background-position: center;
        height:100%;
        width: 100%;

        background-repeat: no-repeat;
      }*/

      .container-fluid{
      	padding-right: 0px;


      }

      .row{
      	padding-right: : 0px;
      }

      .card{
      	margin: 20px;
     
      }
      .col-md-6{
      	padding: 0px;
      }

     




